body {
  background-image: url(/images/dirt.jpg);
}

img {
  height: 250px;
  width: 100%;
}

#location-container {
  margin-top: 40px;
}

/* BUTTON STYLING */
#dawn-btn {
  background-color: goldenrod;
  color: #282912;
}

#midday-btn {
  background-color: lightsteelblue;
  color: #052e0c;
}

#dusk-btn {
  background-color: darkseagreen;
  color: darkslategray;
}

#dark-btn {
  background-color: midnightblue;
  color: antiquewhite;
}