body {
  background-image: URL(https://c.pxhere.com/photos/85/c6/grass_rush_juicy_green_blades_of_grass_halme_meadow_close-957484.jpg!d);
}

img {
  width: 100%;
  border-radius: 10px;
}

.location-card > div > img {
  height: 100px;
}

#filter-button-container {
  margin-bottom: 10px;
  clear: both;
}

#location-container {
  margin-top: 40px;
}

/* BUTTON STYLING */
#dawn-btn {
  background-color: goldenrod;
  color: #282912;
}

#midday-btn {
  background-color: lightsteelblue;
  color: #052e0c;
}

#dusk-btn {
  background-color: darkseagreen;
  color: darkslategray;
}

#dark-btn {
  background-color: midnightblue;
  color: antiquewhite;
}